# dependency directory
node_modules/
.next/
.editorconfig
*.__snapshots__/

# compiled directory
dist/

# environment variables
.env

# vscode directory
.vscode

#coverage report
coverage
.DS_Store
*.snapshot.js

# logs
npm-debug.log
logs
yarn-error.log

# Webstorm settings files
.idea/
.db

