# dependency directory
node_modules/
.next/

# compiled directory
dist/

# environment variables
.env

# vscode directory
.vscode

#coverage report
coverage
.DS_Store
test.js
*.test.js
*.spec.js
*.snapshot.js

# logs
npm-debug.log
logs
package-lock.json
yarn-error.log

# Webstorm settings files
.idea/
.db

